<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="jquery.highlight-5.js"></script>
<script type="text/javascript">
    function doHighlight() {
        var word = $(".searchForm-input").val();
        //document.write(word);
        $("#data_tbl").highlight(word);
    }
    function searchfname(){
        var arr_fname = ['001_ＢＶＡＮ比較-010（ＡＮＳＥＲ（基本事項））.xlsx',
'002_ＢＶＡＮ比較-020（ＡＮＳＥＲ（契約登録））.xlsx',
'003_ＢＶＡＮ比較-030（ＡＮＳＥＲ（照会サービス））.xlsx',
'004_ＢＶＡＮ比較-040（ＡＮＳＥＲ（通知サービス））.xlsx',
'005_ＢＶＡＮ比較-050（ＡＮＳＥＲ（資金移動サービス））.xlsx',
'006_ＢＶＡＮ比較-060（ＡＮＳＥＲ（システム運用））.xlsx',
'007_ＢＶＡ振比較-010（ＡＴＭ振込）.xlsx',
'008_ＢＶＣＣ比較-010（システム概要）.xlsx',
'009_ＢＶＣＣ比較-020（処理形態）.xlsx',
'010_ＢＶＣＣ比較-030（一日の運用）.xlsx',
'011_ＢＶＣＣ比較-040（センタカット実行単位）.xlsx',
'012_ＢＶＣＣ比較-050（口座別センタカット）.xlsx',
'013_ＢＶＣＣ比較-060（入金待ち機能）.xlsx',
'014_ＢＶＣＣ比較-070（期日管理）.xlsx',
'015_ＢＶＣＣ比較-080（優先順位）.xlsx',
'016_ＢＶＣＣ比較-090（移管口座の取扱い）.xlsx',
'017_ＢＶＣＣ比較-100（不能時の取扱い）.xlsx',
'018_ＢＶＣＦ比較-010（クレジット基本事項）.xlsx',
'019_ＢＶＣＦ比較-050（クレジット勘定処理）.xlsx',
'020_ＢＶＣＦ比較-060（クレジット資金決済）.xlsx',
'021_ＢＶＣＬ比較-010（取扱種類）.xlsx',
'022_ＢＶＣＬ比較-020（取引の流れ）.xlsx',
'023_ＢＶＣＬ比較-030（融資方法）.xlsx',
'024_ＢＶＣＬ比較-040（返済条件）.xlsx',
'025_ＢＶＣＬ比較-050（手数料の取扱い）.xlsx',
'026_ＢＶＣＬ比較-060（極度管理）.xlsx',
'027_ＢＶＣＬ比較-070（担保・保証）.xlsx',
'028_ＢＶＣＬ比較-080（口座開設）.xlsx',
'029_ＢＶＣＬ比較-090（極度確定登録）.xlsx',
'030_ＢＶＣＬ比較-100（実行）.xlsx',
'031_ＢＶＣＬ比較-110（利息回収）.xlsx',
'032_ＢＶＣＬ比較-120（利息計算）.xlsx',
'033_ＢＶＣＬ比較-130（元加）.xlsx',
'034_ＢＶＣＬ比較-140（元金回収）.xlsx',
'035_ＢＶＣＬ比較-150（入金待ち・延滞管理）.xlsx',
'036_ＢＶＣＬ比較-160（口座解約）.xlsx',
'037_ＢＶＣＬ比較-170（訂正取引）.xlsx',
'038_ＢＶＣＬ比較-180（その他主要登録取引）.xlsx',
'039_ＢＶＣＬ比較-190（照会取引）.xlsx',
'040_ＢＶＣＬ比較-200（カードローン通帳）.xlsx',
'041_ＢＶＣＬ比較-210（ATMカードローン）.xlsx',
'042_ＢＶＣＬ比較-220（自動融資）.xlsx',
'043_ＢＶＪＤ比較-010（デビットカード基本事項）.xlsx',
'044_ＢＶＪＤ比較-030（発行金融機関処理）.xlsx',
'045_ＢＶＪＤ比較-040（発行金融機関勘定処理）.xlsx',
'046_ＢＶＪＤ比較-050（発行金融機関資金決済）.xlsx',
'047_ＢＶＪＤ比較-070（デビットカードサービスにおける資金決済）.xlsx',
'048_ＢＶＭＰ比較-010（マルチペイメント）.xlsx',
'049_ＢＶくじ比較-020（ＡＴＭ宝くじサービス）.xlsx',
'050_ＢＶコ収比較-010（コンビニ収納サービス）.xlsx',
'051_ＢＶマイ比較-010（マイナンバー）.xlsx',
'052_ＢＶ為Ｏ比較-010（為替ＯＣＲ）.xlsx',
'053_ＢＶ為替比較-010（為替共通（為替種目、取扱形式））.xlsx',
'054_ＢＶ為替比較-020（為替共通（取扱通信時間帯））.xlsx',
'055_ＢＶ為替比較-030（為替共通（為替業務取扱店））.xlsx',
'056_ＢＶ為替比較-040（為替共通（管理番号体系））.xlsx',
'057_ＢＶ為替比較-050（為替共通（金融機関支店情報））.xlsx',
'058_ＢＶ為替比較-060（為替共通（その他取扱い））.xlsx',
'059_ＢＶ為替比較-061（為替共通（店舗統廃合））.xlsx',
'060_ＢＶ為替比較-070（為替送受信（為替受付））.xlsx',
'061_ＢＶ為替比較-080（為替送受信（送信指示））.xlsx',
'062_ＢＶ為替比較-090（為替送受信（受付支援））.xlsx',
'063_ＢＶ為替比較-100（為替送受信（未送信電文管理））.xlsx',
'064_ＢＶ為替比較-110（為替送受信（代行処理））.xlsx',
'065_ＢＶ為替比較-120（為替送受信（受信処理））.xlsx',
'066_ＢＶ為替比較-130（為替送受信（配信処理））.xlsx',
'067_ＢＶ為替比較-140（為替連動処理（連動処理））.xlsx',
'068_ＢＶ為替比較-150（為替連動処理（手数料の取扱い））.xlsx',
'069_ＢＶ為替比較-160（為替の取消・訂正・組戻し処理（取消））.xlsx',
'070_ＢＶ為替比較-170（為替の取消・訂正・組戻し処理（訂正））.xlsx',
'071_ＢＶ為替比較-180（為替の取消・訂正・組戻し処理（組戻））.xlsx',
'072_ＢＶ為替比較-190（為替支援機能（ＮＩＦ登録））.xlsx',
'073_ＢＶ為替比較-210（為替支援機能（発信機能））.xlsx',
'074_ＢＶ為替比較-220（文書為替）.xlsx',
'075_ＢＶ為替比較-230（未払送金為替）.xlsx',
'076_ＢＶ為替比較-240（各種照会）.xlsx',
'077_ＢＶ為替比較-250（為替先日付電文の期日管理）.xlsx',
'078_ＢＶ為替比較-260（為替センターカット）.xlsx',
'079_ＢＶ為替比較-270（他行為替の取扱い（運用手順））.xlsx',
'080_ＢＶ為替比較-280（他行為替の取扱い（通番管理））.xlsx',
'081_ＢＶ為替比較-290（他行為替の取扱い（上り電文））.xlsx',
'082_ＢＶ為替比較-300（他行為替の取扱い（下り電文））.xlsx',
'083_ＢＶ為替比較-310（他行為替の取扱い（対全銀関連照会））.xlsx',
'084_ＢＶ為替比較-311（為替送受信（歳出金・還付金））.xlsx',
'085_ＢＶ為替比較-312（６次全銀対応）.xlsx',
'086_ＢＶ為替比較-320（為替精査）.xlsx',
'087_ＢＶ為替比較-330（為替運用上の設定）.xlsx',
'088_ＢＶ為替比較-340（為替障害対応）.xlsx',
'089_ＢＶ為替比較-350（振込管理システム）.xlsx',
'090_ＢＶ営業比較-010（全体運用）.xlsx',
'091_ＢＶ営業比較-020（各種運用時間の取扱い）.xlsx',
'092_ＢＶ営業比較-030（端末開閉局）.xlsx',
'093_ＢＶ営業比較-040（営業店精査の流れ）.xlsx',
'094_ＢＶ営業比較-050（配信）.xlsx',
'095_ＢＶ営業比較-060（大口取引管理）.xlsx',
'096_ＢＶ営業比較-070（障害時の運用）.xlsx',
'097_ＢＶ営業比較-080（休日窓口営業の取扱い）.xlsx',
'098_ＢＶ業共比較-010（日付の取扱い）.xlsx',
'099_ＢＶ業共比較-020（管理番号の種類と取扱い）.xlsx',
'100_ＢＶ業共比較-030（店番と店種類）.xlsx',
'101_ＢＶ業共比較-050（地区センター取扱業務）.xlsx',
'102_ＢＶ業共比較-060（届出センター取扱業務）.xlsx',
'103_ＢＶ業共比較-070（融資事務センター取扱業務）.xlsx',
'104_ＢＶ業共比較-080（ダイレクト営業センター取扱業務）.xlsx',
'105_ＢＶ業共比較-090（ＡＴＭ監視業務）.xlsx',
'106_ＢＶ業共比較-100（支社の取扱い）.xlsx',
'107_ＢＶ業共比較-110（端末種類）.xlsx',
'108_ＢＶ業共比較-120（ＩＤカード（オペカード）管理）.xlsx',
'109_ＢＶ業共比較-130（モードキー）.xlsx',
'110_ＢＶ業共比較-140（認証印字）.xlsx',
'111_ＢＶ業共比較-150（伝票の取扱い）.xlsx',
'112_ＢＶ業共比較-280（ネット取引）.xlsx',
'113_ＢＶ業共比較-290（連動の取扱い）.xlsx',
'114_ＢＶ業共比較-300（役席取引）.xlsx',
'115_ＢＶ業共比較-320（訂正の取扱い）.xlsx',
'116_ＢＶ業共比較-330（締後・起算日取引）.xlsx',
'117_ＢＶ業共比較-340（取引明細の取扱い）.xlsx',
'118_ＢＶ業共比較-350（自振口座の取扱い）.xlsx',
'119_ＢＶ業共比較-360（移管（基本事項））.xlsx',
'120_ＢＶ業共比較-370（移管（僚店））.xlsx',
'121_ＢＶ業共比較-380（移管（店内））.xlsx',
'122_ＢＶ業共比較-385（移管（顧客単位））.xlsx',
'123_ＢＶ業共比較-390（一括移管（店舗統廃合））.xlsx',
'124_ＢＶ業共比較-410（事故・注意・取引禁止管理）.xlsx',
'125_ＢＶ業共比較-420（重要用紙の取扱い）.xlsx',
'126_ＢＶ業共比較-430（管理対象重要用紙）.xlsx',
'127_ＢＶ業共比較-440（重要用紙管理項目）.xlsx',
'128_ＢＶ業共比較-450（重要用紙発行管理）.xlsx',
'129_ＢＶ業共比較-460（重要用紙管理帳表）.xlsx',
'130_ＢＶ業共比較-470（エラー時の処理）.xlsx',
'131_ＢＶ業共比較-480（研修）.xlsx',
'132_ＢＶ業共比較-490（２４時間稼働）.xlsx',
'133_ＢＶ業共比較-500（印鑑票）.xlsx',
'134_ＢＶ業共比較-510（ポイントサービス）.xlsx',
'135_ＢＶ業共比較-520（休日追加の対応）.xlsx',
'136_ＢＶ業共比較-530（端末予約）.xlsx',
'137_ＢＶ業共比較-570（日本語処理）.xlsx',
'138_ＢＶ業共比較-590（新店開設）.xlsx',
'139_ＢＶ業共比較-600（凍結口座名義人情報対応）.xlsx',
'140_ＢＶ経費比較-010（経費管理の概要）.xlsx',
'141_ＢＶ経費比較-020（予算管理）.xlsx',
'142_ＢＶ経費比較-040（実績管理）.xlsx',
'143_ＢＶ経費比較-050（オンライン処理機能）.xlsx',
'144_ＢＶ経費比較-060（バッチ処理機能）.xlsx',
'145_ＢＶ決算比較-010（期末決算）.xlsx',
'146_ＢＶ県証比較-010（県証紙）.xlsx',
'147_ＢＶ現行為替-010（固有先への通信）.xlsx',
'148_ＢＶ現行為替-020（為替障害対応）.xlsx',
'149_ＢＶ現行為替-030（個社対応）.xlsx',
'150_ＢＶ個Ｗ比較-010（個人インターネットバンキング（基本事項））.xlsx',
'151_ＢＶ個Ｗ比較-020（個人インターネットバンキング（照会業務））.xlsx',
'152_ＢＶ個Ｗ比較-030（個人インターネットバンキング（資金移動業務））.xlsx',
'153_ＢＶ個信比較-010（原則）.xlsx',
'154_ＢＶ個信比較-020（各個人信用情報の概要）.xlsx',
'155_ＢＶ個信比較-030（情報の登録）.xlsx',
'156_ＢＶ個信比較-040（情報の照会）.xlsx',
'157_ＢＶ顧客比較-010（基本事項）.xlsx',
'158_ＢＶ顧客比較-020（顧客元帳の取扱い）.xlsx',
'159_ＢＶ顧客比較-030（基本保有情報）.xlsx',
'160_ＢＶ顧客比較-040（その他保有情報）.xlsx',
'161_ＢＶ顧客比較-050（開設取引）.xlsx',
'162_ＢＶ顧客比較-060（設定取引）.xlsx',
'163_ＢＶ顧客比較-070（閉鎖取引）.xlsx',
'164_ＢＶ顧客比較-080（照会取引）.xlsx',
'165_ＢＶ顧客比較-090（宛名シール作成）.xlsx',
'166_ＢＶ顧客比較-110（残高証明書）.xlsx',
'167_ＢＶ顧客比較-120（世帯名寄せ）.xlsx',
'168_ＢＶ顧客比較-130（全店顧客名寄せ）.xlsx',
'169_ＢＶ顧客比較-140（カナ氏名索引）.xlsx',
'170_ＢＶ顧客比較-160（マネロン対策（本人確認））.xlsx',
'171_ＢＶ顧客比較-170（預金保険（名寄せ・保険料・支払禁止措置））.xlsx',
'172_ＢＶ顧客比較-180（非課税法人預金の取扱い）.xlsx',
'173_ＢＶ顧客比較-190（預金通帳・証書一時預り整理表）.xlsx',
'174_ＢＶ公金比較-010（公金送金隔地払）.xlsx',
'175_ＢＶ口振比較-010（口座振替概要）.xlsx',
'176_ＢＶ口振比較-020（委託者契約管理処理）.xlsx',
'177_ＢＶ口振比較-030（口振契約管理処理）.xlsx',
'178_ＢＶ口振比較-040（受付処理）.xlsx',
'179_ＢＶ口振比較-050（センタカット処理）.xlsx',
'180_ＢＶ口振比較-060（返却処理）.xlsx',
'181_ＢＶ口振比較-070（資金決済処理）.xlsx',
'182_ＢＶ口振比較-080（再振替処理）.xlsx',
'183_ＢＶ口振比較-090（元請処理）.xlsx',
'184_ＢＶ口振比較-100（その他関連取引）【改訂版】.xlsx',
'185_ＢＶ口振比較-110（文書による取扱い）.xlsx',
'186_ＢＶ財形比較-010（商品概要）.xlsx',
'187_ＢＶ財形比較-020（預入原資）.xlsx',
'188_ＢＶ財形比較-030（入金区分）.xlsx',
'189_ＢＶ財形比較-040（預入日の取扱い）.xlsx',
'190_ＢＶ財形比較-050（適用金利）.xlsx',
'191_ＢＶ財形比較-060（受入方法）.xlsx',
'192_ＢＶ財形比較-070（入出金）.xlsx',
'193_ＢＶ財形比較-080（自動継続・中間利払）.xlsx',
'194_ＢＶ財形比較-090（要件違反の取扱い）.xlsx',
'195_ＢＶ財形比較-100（追徴の取扱い）.xlsx',
'196_ＢＶ財形比較-110（条件変更）.xlsx',
'197_ＢＶ財形比較-120（財形年金）.xlsx',
'198_ＢＶ財形比較-130（財形住宅）.xlsx',
'199_ＢＶ財形比較-140（一般財形）.xlsx',
'200_ＢＶ財形比較-160（事業主の取扱）.xlsx',
'201_ＢＶ財形比較-170（起算日）.xlsx',
'202_ＢＶ財形比較-180（取引形態）.xlsx',
'203_ＢＶ財形比較-190（ネットの取扱）.xlsx',
'204_ＢＶ財形比較-200（利息税金計算）.xlsx',
'205_ＢＶ財形比較-210（元金利息の支払）.xlsx',
'206_ＢＶ財形比較-230（限度額オーバーの取扱）.xlsx',
'207_ＢＶ財形比較-240（センタカット不能分の取扱い）.xlsx',
'208_ＢＶ財形比較-250（移管（僚店））.xlsx',
'209_ＢＶ財形比較-260（移管（店内））.xlsx',
'210_ＢＶ財形比較-270（顧客一括移管（僚店））.xlsx',
'211_ＢＶ支承比較-010（基本事項）.xlsx',
'212_ＢＶ支承比較-020（支承条件の設定）.xlsx',
'213_ＢＶ支承比較-030（新規実行）.xlsx',
'214_ＢＶ支承比較-050（保証料の徴求）.xlsx',
'215_ＢＶ支承比較-060（保証料回収・調整保証料回収／支払）.xlsx',
'216_ＢＶ支承比較-070（元金回収）.xlsx',
'217_ＢＶ支承比較-080（訂正取引）.xlsx',
'218_ＢＶ自動比較-010（自動機取扱範囲）.xlsx',
'219_ＢＶ自動比較-011（自動機入金）.xlsx',
'220_ＢＶ自動比較-012（自動機支払）.xlsx',
'221_ＢＶ自動比較-013（自動機照会）.xlsx',
'222_ＢＶ自動比較-014（自動機定期入金）.xlsx',
'223_ＢＶ自動比較-016（自動機振替）.xlsx',
'224_ＢＶ自動比較-017（自動機外貨取引）.xlsx',
'225_ＢＶ自動比較-018（偽造カード対策）.xlsx',
'226_ＢＶ自動比較-040（自動機精査）.xlsx',
'227_ＢＶ自動比較-050（延長・提携手数料の取扱い）.xlsx',
'228_ＢＶ自動比較-060（自動機レシート印字）.xlsx',
'229_ＢＶ自動比較-070（自動機取扱い時間帯）.xlsx',
'230_ＢＶ自動比較-090（自動機限度額管理）.xlsx',
'231_ＢＶ自動比較-100（注意メッセージ）.xlsx',
'232_ＢＶ自動比較-110（自動機磁気復活）.xlsx',
'233_ＢＶ手形比較-010（手形管理）.xlsx',
'234_ＢＶ手形比較-020（手形交換）.xlsx',
'235_ＢＶ手形比較-030（旅館券）.xlsx',
'236_ＢＶ手形比較-040（運用）.xlsx',
'237_ＢＶ手数比較-010（手数料受入・支払）.xlsx',
'238_ＢＶ手数比較-020（即納扱い）.xlsx',
'239_ＢＶ手数比較-030（勘定処理）.xlsx',
'240_ＢＶ手数比較-040（手数料元帳・取引明細管理）.xlsx',
'241_ＢＶ手数比較-050（基準額・基本情報管理）.xlsx',
'242_ＢＶ手数比較-060（後納扱い）.xlsx',
'243_ＢＶ手数比較-070（定型扱い）.xlsx',
'244_ＢＶ手数比較-080（減免・優遇管理）.xlsx',
'245_ＢＶ手数比較-090（手数料額管理）.xlsx',
'246_ＢＶ手数比較-100（消費税の取扱い）.xlsx',
'247_ＢＶ手数比較-110（通帳摘要）.xlsx',
'248_ＢＶ手数比較-120（振込代手手数料入金）.xlsx',
'249_ＢＶ手数比較-130（手数料入出金）.xlsx',
'250_ＢＶ手数比較-140（後納扱手数料管理先登録）.xlsx',
'251_ＢＶ手数比較-150（定型引落手数料登録）.xlsx',
'252_ＢＶ手数比較-160（後納扱手数料登録）.xlsx',
'253_ＢＶ手数比較-170（減免管理先登録）.xlsx',
'254_ＢＶ手数比較-180（引落停止登録）.xlsx',
'255_ＢＶ手数比較-200（元帳記帳集中センタカット（一括記帳））.xlsx',
'256_ＢＶ手数比較-210（手数料口座引落センタカット）.xlsx',
'257_ＢＶ手数比較-230（後納引落手数料口座変更）.xlsx',
'258_ＢＶ手数比較-240（照会取引）.xlsx',
'259_ＢＶ手数比較-250（手数料基準額テーブル）.xlsx',
'260_ＢＶ手貸比較-010（手形貸付の処理フロー）.xlsx',
'261_ＢＶ手貸比較-020（手形貸付の概要）.xlsx',
'262_ＢＶ手貸比較-030（申込登録）.xlsx',
'263_ＢＶ手貸比較-040（新規実行）.xlsx',
'264_ＢＶ手貸比較-050（分割実行）.xlsx',
'265_ＢＶ手貸比較-060（返金新規）.xlsx',
'266_ＢＶ手貸比較-070（書替）.xlsx',
'267_ＢＶ手貸比較-080（回収）.xlsx',
'268_ＢＶ手貸比較-090（約定回収）.xlsx',
'269_ＢＶ手貸比較-100（内入）.xlsx',
'270_ＢＶ手貸比較-110（全額回収）.xlsx',
'271_ＢＶ手貸比較-120（特殊書替回収）.xlsx',
'272_ＢＶ手貸比較-130（商担手形の回収）.xlsx',
'273_ＢＶ手貸比較-140（利息回収）.xlsx',
'274_ＢＶ手貸比較-180（照会取引）.xlsx',
'275_ＢＶ集金比較-010（処理の種類（振替サービス（払）））.xlsx',
'276_ＢＶ集金比較-020（契約取引（振替サービス（払）））.xlsx',
'277_ＢＶ集金比較-030（解約取引（振替サービス（払）））.xlsx',
'278_ＢＶ集金比較-040（金額登録（振替サービス（払）））.xlsx',
'279_ＢＶ集金比較-050（異例金額登録（振替サービス（払）））.xlsx',
'280_ＢＶ集金比較-060（変更取引（振替サービス（払）））.xlsx',
'281_ＢＶ集金比較-070（照会取引（振替サービス（払）））.xlsx',
'282_ＢＶ集金比較-080（センタカット処理による引き落とし（振替サービス（払）））.xlsx',
'283_ＢＶ集金比較-090（手数料処理（振替サービス（払）））.xlsx',
'284_ＢＶ集金比較-110（洗替え処理（振替サービス（払）））.xlsx',
'285_ＢＶ集金比較-120（引落依頼書の作成（振替サービス（払）））.xlsx',
'286_ＢＶ集配比較-010（資金集中配分）.xlsx',
'287_ＢＶ住公比較-010（住公総合オンラインシステム）.xlsx',
'288_ＢＶ住公比較-020（預託金受入払出報告）.xlsx',
'289_ＢＶ住公比較-030（保険料用紙代金収納）.xlsx',
'290_ＢＶ住公比較-040（その他本部専用オペ）.xlsx',
'291_ＢＶ商手比較-010（基本事項）.xlsx',
'292_ＢＶ商手比較-020（処理の流れ）.xlsx',
'293_ＢＶ商手比較-030（支払人管理）.xlsx',
'294_ＢＶ商手比較-040（申込登録）.xlsx',
'295_ＢＶ商手比較-050（実行）.xlsx',
'296_ＢＶ商手比較-060（明細登録）.xlsx',
'297_ＢＶ商手比較-070（割引料回収）.xlsx',
'298_ＢＶ商手比較-080（回収）.xlsx',
'299_ＢＶ商手比較-100（不渡再実行）.xlsx',
'300_ＢＶ商手比較-110（汎用登録取引）.xlsx',
'301_ＢＶ商手比較-120（照会取引）.xlsx',
'302_ＢＶ消税比較-010（消費税の取扱）.xlsx',
'303_ＢＶ消税比較-020（その他科目（消費税）元帳と勘定科目）.xlsx',
'304_ＢＶ消税比較-030（仕入に係る消費税の把握）.xlsx',
'305_ＢＶ消税比較-040（売上に係る消費税の把握）.xlsx',
'306_ＢＶ消税比較-050（勘定処理）.xlsx',
'307_ＢＶ消税比較-060（売上高の把握）.xlsx',
'308_ＢＶ消税比較-070（消費税入出金（訂正）取引）.xlsx',
'309_ＢＶ消税比較-080（元帳一括記帳処理）.xlsx',
'310_ＢＶ消税比較-090（決算処理）.xlsx',
'311_ＢＶ消税比較-100（納付税額の算出）.xlsx',
'312_ＢＶ消税比較-120（仮受・仮払消費税の本部集中）.xlsx',
'313_ＢＶ消税比較-130（日計登録・手数料・経費からの消費税入出金）.xlsx',
'314_ＢＶ消税比較-140（取引明細照会）.xlsx',
'315_ＢＶ消税比較-150（消費税ファイル（元帳））.xlsx',
'316_ＢＶ消税比較-160（税率の管理）.xlsx',
'317_ＢＶ消税比較-180（税務申告用資料の作成）.xlsx',
'318_ＢＶ証貸比較-010（証書貸付の概要）.xlsx',
'319_ＢＶ証貸比較-020（返済条件）.xlsx',
'320_ＢＶ証貸比較-030（申込登録）.xlsx',
'321_ＢＶ証貸比較-040（新規実行）.xlsx',
'322_ＢＶ証貸比較-050（分割実行）.xlsx',
'323_ＢＶ証貸比較-070（回収）.xlsx',
'324_ＢＶ証貸比較-080（約定回収）.xlsx',
'325_ＢＶ証貸比較-090（内入）.xlsx',
'326_ＢＶ証貸比較-100（全額回収）.xlsx',
'327_ＢＶ証貸比較-110（利息回収）.xlsx',
'328_ＢＶ証貸比較-120（未収利息回収）.xlsx',
'329_ＢＶ証貸比較-140（戻し利息支払）.xlsx',
'330_ＢＶ証貸比較-150（変動金利貸出）.xlsx',
'331_ＢＶ証貸比較-160（変動金利型の概要）.xlsx',
'332_ＢＶ証貸比較-170（金利選択型の概要）.xlsx',
'333_ＢＶ証貸比較-180（利子補給）.xlsx',
'334_ＢＶ証貸比較-190（照会取引）.xlsx',
'335_ＢＶ譲渡比較-010（商品概要）.xlsx',
'336_ＢＶ譲渡比較-020（契約日と満期日）.xlsx',
'337_ＢＶ譲渡比較-030（新規契約、入金）.xlsx',
'338_ＢＶ譲渡比較-040（元金・利息支払の取扱）.xlsx',
'339_ＢＶ譲渡比較-050（中間利払）.xlsx',
'340_ＢＶ譲渡比較-060（解約・支払）.xlsx',
'341_ＢＶ譲渡比較-070（起算日）.xlsx',
'342_ＢＶ譲渡比較-080（取引形態）.xlsx',
'343_ＢＶ譲渡比較-090（適用利率）.xlsx',
'344_ＢＶ譲渡比較-100（利息計算と利子税計算）.xlsx',
'345_ＢＶ譲渡比較-110（譲渡）.xlsx',
'346_ＢＶ譲渡比較-130（連動の取扱）.xlsx',
'347_ＢＶ譲渡比較-140（移管（僚店））.xlsx',
'348_ＢＶ譲渡比較-150（顧客一括移管（僚店））.xlsx',
'349_ＢＶ積定比較-010（商品概要）.xlsx',
'350_ＢＶ積定比較-030（入金日）.xlsx',
'351_ＢＶ積定比較-040（積立区分）.xlsx',
'352_ＢＶ積定比較-050（取引形態）.xlsx',
'353_ＢＶ積定比較-060（預入期限）.xlsx',
'354_ＢＶ積定比較-080（同一日預入の取扱）.xlsx',
'355_ＢＶ積定比較-090（新規契約）.xlsx',
'356_ＢＶ積定比較-100（入金）.xlsx',
'357_ＢＶ積定比較-110（契約日と満期日）.xlsx',
'358_ＢＶ積定比較-121（自動継続）.xlsx',
'359_ＢＶ積定比較-130（解約支払）.xlsx',
'360_ＢＶ積定比較-140（訂正取引）.xlsx',
'361_ＢＶ積定比較-160（起算日）.xlsx',
'362_ＢＶ積定比較-170（入金区分）.xlsx',
'363_ＢＶ積定比較-180（適用金利）.xlsx',
'364_ＢＶ積定比較-190（利息計算と利子税計算）.xlsx',
'365_ＢＶ積定比較-200（元金利息支払の取扱）.xlsx',
'366_ＢＶ積定比較-210（ネットの取扱）.xlsx',
'367_ＢＶ積定比較-240（連動の取扱）.xlsx',
'368_ＢＶ積定比較-250（移管（僚店））.xlsx',
'369_ＢＶ積定比較-260（移管（店内））.xlsx',
'370_ＢＶ積定比較-270（顧客一括移管（僚店））.xlsx',
'371_ＢＶ専当比較-010（商品概要）.xlsx',
'372_ＢＶ専当比較-020（取引の流れ）.xlsx',
'373_ＢＶ専当比較-030（契約登録）.xlsx',
'374_ＢＶ専当比較-040（確定登録）.xlsx',
'375_ＢＶ専当比較-050（一括支払明細登録）.xlsx',
'376_ＢＶ専当比較-060（実行）.xlsx',
'377_ＢＶ専当比較-090（返金新規）.xlsx',
'378_ＢＶ専当比較-100（元金回収）.xlsx',
'379_ＢＶ専当比較-110（資金決済）.xlsx',
'380_ＢＶ専当比較-120（利息回収支払）.xlsx',
'381_ＢＶ専当比較-130（照会取引）.xlsx',
'382_ＢＶ専当比較-140（手数料回収）.xlsx',
'383_ＢＶ全銀比較-010（ＭＴデータ伝送（集信業務））.xlsx',
'384_ＢＶ全銀比較-020（ＭＴデータ伝送（配信業務））.xlsx',
'385_ＢＶ全銀比較-030（ＭＴデータ伝送（その他））.xlsx',
'386_ＢＶ総振比較-010（登録総合振込・登録給与振込）.xlsx',
'387_ＢＶ他科比較-010（その他科目の定義）.xlsx',
'388_ＢＶ他科比較-020（基本事項）.xlsx',
'389_ＢＶ他科比較-030（科目体系）.xlsx',
'390_ＢＶ他科比較-040（元帳の取扱い）.xlsx',
'391_ＢＶ他科比較-050（管理体系）.xlsx',
'392_ＢＶ他科比較-060（ファイル形態）.xlsx',
'393_ＢＶ他科比較-070（口座開設・閉鎖）.xlsx',
'394_ＢＶ他科比較-080（その他科目入出金）.xlsx',
'395_ＢＶ他科比較-090（照会取引）.xlsx',
'396_ＢＶ他科比較-100（自動機現金・仮払金）.xlsx',
'397_ＢＶ他科比較-110（現送・現受（仮払金））.xlsx',
'398_ＢＶ他科比較-130（資金決済）.xlsx',
'399_ＢＶ他科比較-140（勘定計上と元帳への記帳処理）.xlsx',
'400_ＢＶ他科比較-150（年度末繰越の取扱い）.xlsx',
'401_ＢＶ他担比較-010（その他担保）.xlsx',
'402_ＢＶ代貸比較-010（取引の流れ）.xlsx',
'403_ＢＶ代貸比較-020（代理貸付の概要）.xlsx',
'404_ＢＶ代貸比較-040（債務保証の取扱い）.xlsx',
'405_ＢＶ代貸比較-050（保証履行時の運用）.xlsx',
'406_ＢＶ代貸比較-060（代理業務勘定の取扱い）.xlsx',
'407_ＢＶ代貸比較-070（代理業務勘定・実行時）.xlsx',
'408_ＢＶ代貸比較-080（代理業務勘定・回収時）.xlsx',
'409_ＢＶ代貸比較-090（実行）.xlsx',
'410_ＢＶ代貸比較-100（償還明細の登録）.xlsx',
'411_ＢＶ代貸比較-110（回収）.xlsx',
'412_ＢＶ代貸比較-120（照会）.xlsx',
'413_ＢＶ代貸比較-140（受入金減額）.xlsx',
'414_ＢＶ代貸比較-150（公庫契約情報）.xlsx',
'415_ＢＶ代貸比較-160（移管）.xlsx',
'416_ＢＶ代貸比較-170（包括承継）.xlsx',
'417_ＢＶ担共比較-010（担保共通事項）.xlsx',
'418_ＢＶ貯蓄比較-010（取扱い形式）.xlsx',
'419_ＢＶ貯蓄比較-050（入金・支払制限）.xlsx',
'420_ＢＶ貯蓄比較-080（新規契約）.xlsx',
'421_ＢＶ貯蓄比較-090（入金）.xlsx',
'422_ＢＶ貯蓄比較-100（支払）.xlsx',
'423_ＢＶ貯蓄比較-110（解約）.xlsx',
'424_ＢＶ貯蓄比較-150（口座別優遇金利の取扱い）.xlsx',
'425_ＢＶ貯蓄比較-160（口座単位移管（僚店））.xlsx',
'426_ＢＶ貯蓄比較-161（口座単位移管（店内））.xlsx',
'427_ＢＶ貯蓄比較-162（顧客一括移管（僚店））.xlsx',
'428_ＢＶ貯蓄比較-170（未記帳管理）.xlsx',
'429_ＢＶ通知比較-010（商品概要）.xlsx',
'430_ＢＶ通知比較-020（新規契約　入金）.xlsx',
'431_ＢＶ通知比較-030（解約　支払）.xlsx',
'432_ＢＶ通知比較-050（契約日と支払い予告日）.xlsx',
'433_ＢＶ通知比較-060（起算日の取扱い）.xlsx',
'434_ＢＶ通知比較-070（取引形態）.xlsx',
'435_ＢＶ通知比較-080（適用金利）.xlsx',
'436_ＢＶ通知比較-090（利息計算と利子税計算）.xlsx',
'437_ＢＶ通知比較-100（元金　利息支払の取扱い）.xlsx',
'438_ＢＶ通知比較-110（ネットの取扱い）.xlsx',
'439_ＢＶ通知比較-140（連動の取扱い）.xlsx',
'440_ＢＶ通知比較-150（移管（僚店））.xlsx',
'441_ＢＶ通知比較-160（移管（店内））.xlsx',
'442_ＢＶ通知比較-170（顧客一括移管（僚店））.xlsx',
'443_ＢＶ定期比較-010（商品概要）.xlsx',
'444_ＢＶ定期比較-020（総合口座の取扱）.xlsx',
'445_ＢＶ定期比較-030（契約日と満期日）.xlsx',
'446_ＢＶ定期比較-060（新規契約入金）.xlsx',
'447_ＢＶ定期比較-070（元金利息支払いの取扱）.xlsx',
'448_ＢＶ定期比較-080（継続（自動継続以外））.xlsx',
'449_ＢＶ定期比較-090（自動継続）.xlsx',
'450_ＢＶ定期比較-100（中間利払）.xlsx',
'451_ＢＶ定期比較-110（解約支払）.xlsx',
'452_ＢＶ定期比較-120（利息手計算支払）.xlsx',
'453_ＢＶ定期比較-130（起算日）.xlsx',
'454_ＢＶ定期比較-150（適用金利）.xlsx',
'455_ＢＶ定期比較-160（利息計算と利子税計算）.xlsx',
'456_ＢＶ定期比較-170（ネットの取扱）.xlsx',
'457_ＢＶ定期比較-200（連動の取扱）.xlsx',
'458_ＢＶ定期比較-250（移管（僚店））.xlsx',
'459_ＢＶ定期比較-260（移管（店内））.xlsx',
'460_ＢＶ定期比較-270（顧客一括移管（僚店））.xlsx',
'461_ＢＶ定共比較-010（支払方法）.xlsx',
'462_ＢＶ定共比較-020（定期性預金の利息計算）.xlsx',
'463_ＢＶ定共比較-060（入出金内訳の取扱い）.xlsx',
'464_ＢＶ定共比較-090（担保の取扱）.xlsx',
'465_ＢＶ定送比較-010（定額自動送金）.xlsx',
'466_ＢＶ提携比較-010（基本事項）.xlsx',
'467_ＢＶ提携比較-050（勘定処理）.xlsx',
'468_ＢＶ提携比較-060（提携手数料キャッシュバック）.xlsx',
'469_ＢＶ提携比較-070（郵貯提携対応）.xlsx',
'470_ＢＶ提携比較-090（共同ＣＤ）.xlsx',
'471_ＢＶ提携比較-110（セブン銀行提携）.xlsx',
'472_ＢＶ提携比較-120（ＬＡＮｓ接続）.xlsx',
'473_ＢＶ提携比較-130（イオン銀行提携）.xlsx',
'474_ＢＶ提携比較-140（E-Net接続）.xlsx',
'475_ＢＶ伝送比較-010（データ伝送）.xlsx',
'476_ＢＶ電債比較-010（電子記録債権（基本事項））.xlsx',
'477_ＢＶ電債比較-020（電子記録債権（利用者管理））.xlsx',
'478_ＢＶ電債比較-030（電子記録債権（決済連携））.xlsx',
'479_ＢＶ電債比較-040（電子記録債権（手数料））.xlsx',
'480_ＢＶ電債比較-050（電子記録債権（移管・店舗統廃合））.xlsx',
'481_ＢＶ投信比較-220（業務の範囲）.xlsx',
'482_ＢＶ投信比較-230（口座開設（投信ＣＩＦ登録））.xlsx',
'483_ＢＶ投信比較-240（マル優の管理）.xlsx',
'484_ＢＶ投信比較-250（投信購入資金の受入）.xlsx',
'485_ＢＶ投信比較-260（現在残高の反映）.xlsx',
'486_ＢＶ投信比較-270（解約代金等の取扱い）.xlsx',
'487_ＢＶ投信比較-280（定時定額購入）.xlsx',
'488_ＢＶ投信比較-290（口座抹消）.xlsx',
'489_ＢＶ投信比較-300（投信ＣＩＦ照会）.xlsx',
'490_ＢＶ投信比較-310（インターネット投信）.xlsx',
'491_ＢＶ投信比較-320（インターネット投信利用申込明細表）.xlsx',
'492_ＢＶ当座比較-010（取扱い形式）.xlsx',
'493_ＢＶ当座比較-070（手形小切手番号）.xlsx',
'494_ＢＶ当座比較-090（新規契約）.xlsx',
'495_ＢＶ当座比較-100（入金）.xlsx',
'496_ＢＶ当座比較-110（支払）.xlsx',
'497_ＢＶ当座比較-120（解約）.xlsx',
'498_ＢＶ当座比較-140（過振の取扱い）.xlsx',
'499_ＢＶ当座比較-150（交換支払の取扱い）.xlsx',
'500_ＢＶ当座比較-160（当座貸越の取扱い）.xlsx',
'501_ＢＶ当座比較-170（照合表の取扱い）.xlsx',
'502_ＢＶ当座比較-200（口座単位移管（僚店））.xlsx',
'503_ＢＶ当座比較-201（口座単位移管（店内））.xlsx',
'504_ＢＶ当座比較-202（顧客一括移管（僚店））.xlsx',
'505_ＢＶ日銀比較-010（日銀・県公金（歳入金））.xlsx',
'506_ＢＶ日計比較-010（システム概要）.xlsx',
'507_ＢＶ日計比較-020（カウンタの種類と取扱い）.xlsx',
'508_ＢＶ日計比較-030（総勘定元帳ファイル）.xlsx',
'509_ＢＶ日計比較-040（勘定科目体系）.xlsx',
'510_ＢＶ日計比較-050（締後・訂正の取扱い）.xlsx',
'511_ＢＶ日計比較-060（総勘定元帳の出力）.xlsx',
'512_ＢＶ日計比較-070（内部勘定と外部勘定）.xlsx',
'513_ＢＶ日計比較-080（集計レス）.xlsx',
'514_ＢＶ日計比較-090（収支ペア）.xlsx',
'515_ＢＶ日計比較-100（回付）.xlsx',
'516_ＢＶ日計比較-110（現金オンライン管理）.xlsx',
'517_ＢＶ日計比較-120（精査概要）.xlsx',
'518_ＢＶ日計比較-130（端末精査）.xlsx',
'519_ＢＶ日計比較-140（出納締上）.xlsx',
'520_ＢＶ日計比較-150（勘定締切）.xlsx',
'521_ＢＶ日計比較-160（店舗精査）.xlsx',
'522_ＢＶ日計比較-170（出張所の精査）.xlsx',
'523_ＢＶ日計比較-180（地区センター精査）.xlsx',
'524_ＢＶ日計比較-190（出納テラー店の精査）.xlsx',
'525_ＢＶ日計比較-200（その他の精査）.xlsx',
'526_ＢＶ日計比較-210（精査状況管理）.xlsx',
'527_ＢＶ日計比較-220（日計登録：その他科目の入出金）.xlsx',
'528_ＢＶ日計比較-230（照会取引）.xlsx',
'529_ＢＶ日計比較-240（店種別毎の取扱い）.xlsx',
'530_ＢＶ年金比較-010（確定拠出型年金）.xlsx',
'531_ＢＶ納税比較-010（取扱い形式）.xlsx',
'532_ＢＶ納税比較-040（新規契約）.xlsx',
'533_ＢＶ納税比較-050（入金）.xlsx',
'534_ＢＶ納税比較-060（支払）.xlsx',
'535_ＢＶ納税比較-070（解約）.xlsx',
'536_ＢＶ納税比較-080（未記帳管理）.xlsx',
'537_ＢＶ納税比較-100（納税外支払の取扱い）.xlsx',
'538_ＢＶ納税比較-110（口座単位移管（僚店））.xlsx',
'539_ＢＶ納税比較-111（口座単位移管（店内））.xlsx',
'540_ＢＶ納税比較-112（顧客一括移管（僚店））.xlsx',
'541_ＢＶ納付比較-010（住民税納付サービス）.xlsx',
'542_ＢＶ不動比較-010（不動産担保）.xlsx',
'543_ＢＶ普通比較-010（取扱い形式）.xlsx',
'544_ＢＶ普通比較-060（照合表の取扱い）.xlsx',
'545_ＢＶ普通比較-070（新規契約）.xlsx',
'546_ＢＶ普通比較-080（入金）.xlsx',
'547_ＢＶ普通比較-090（支払）.xlsx',
'548_ＢＶ普通比較-100（解約）.xlsx',
'549_ＢＶ普通比較-120（総合口座）.xlsx',
'550_ＢＶ普通比較-140（当座貸越系商品の基本事項）.xlsx',
'551_ＢＶ普通比較-180（未記帳管理）.xlsx',
'552_ＢＶ普通比較-200（過振の取扱い）.xlsx',
'553_ＢＶ普通比較-210（口座別優遇金利の取扱い）.xlsx',
'554_ＢＶ普通比較-220（口座単位移管（僚店））.xlsx',
'555_ＢＶ普通比較-221（口座単位移管（店内））.xlsx',
'556_ＢＶ普通比較-222（顧客一括移管（僚店））.xlsx',
'557_ＢＶ別段比較-010（口座種類）.xlsx',
'558_ＢＶ別段比較-020（口座番号）.xlsx',
'559_ＢＶ別段比較-040（口座の管理）.xlsx',
'560_ＢＶ別段比較-050（個別管理口の個別明細番号）.xlsx',
'561_ＢＶ別段比較-060（ネットの取扱い）.xlsx',
'562_ＢＶ別段比較-070（残高繰越の取扱い）.xlsx',
'563_ＢＶ別段比較-080（付利口座の取扱い）.xlsx',
'564_ＢＶ別段比較-090（照合表の作成）.xlsx',
'565_ＢＶ別段比較-100（口座の取扱形式）.xlsx',
'566_ＢＶ別段比較-110（口座開設）.xlsx',
'567_ＢＶ別段比較-120（口座閉鎖）.xlsx',
'568_ＢＶ別段比較-130（入金）.xlsx',
'569_ＢＶ別段比較-140（支払）.xlsx',
'570_ＢＶ別段比較-150（支払可能残高の取扱い）.xlsx',
'571_ＢＶ別段比較-190（事故と取引制限の取扱い）.xlsx',
'572_ＢＶ別段比較-220（受入可能証券類）.xlsx',
'573_ＢＶ別段比較-230（預入金額と単位）.xlsx',
'574_ＢＶ別段比較-240（口座単位移管（店内））.xlsx',
'575_ＢＶ保険比較-010（業務の範囲）.xlsx',
'576_ＢＶ保険比較-020（保険契約登録／照会）.xlsx',
'577_ＢＶ保険比較-030（保険料の徴収）.xlsx',
'578_ＢＶ保険比較-040（移管）.xlsx',
'579_ＢＶ保証比較-010（保証の概要）.xlsx',
'580_ＢＶ保証比較-020（保証の登録）.xlsx',
'581_ＢＶ保証比較-030（保証の解除）.xlsx',
'582_ＢＶ保証比較-040（保証汎用登録）.xlsx',
'583_ＢＶ保証比較-050（照会・還元資料）.xlsx',
'584_ＢＶ保証比較-060（保証人情報登録）.xlsx',
'585_ＢＶ保証比較-070（保証契約明細登録）.xlsx',
'586_ＢＶ保証比較-080（保証契約確定登録）.xlsx',
'587_ＢＶ法Ｗ比較-010（法人インターネットバンキング（基本事項））.xlsx',
'588_ＢＶ法Ｗ比較-020（法人インターネットバンキング（照会業務））.xlsx',
'589_ＢＶ法Ｗ比較-030（法人インターネットバンキング（資金移動業務））.xlsx',
'590_ＢＶ法Ｗ比較-040（法人インターネットバンキング（データ伝送業務））.xlsx',
'591_ＢＶ有証比較-010（有価証券担保）.xlsx',
'592_ＢＶ融共比較-010（取扱い科目範囲）.xlsx',
'593_ＢＶ融共比較-020（対象担保）.xlsx',
'594_ＢＶ融共比較-030（返済条件（元金・利息・約定日・据置等））.xlsx',
'595_ＢＶ融共比較-040（融資利息計算）.xlsx',
'596_ＢＶ融共比較-050（連動口座の取扱い）.xlsx',
'597_ＢＶ融共比較-060（実行代り金の取扱い）.xlsx',
'598_ＢＶ融共比較-070（協会保証の取扱い）.xlsx',
'599_ＢＶ融共比較-090（融資ＣＩＦ設定・取消）.xlsx',
'600_ＢＶ融共比較-100（関連者名寄せ）.xlsx',
'601_ＢＶ融共比較-110（融資ＣＩＦ汎用登録）.xlsx',
'602_ＢＶ融共比較-120（債務者照会）.xlsx',
'603_ＢＶ融共比較-140（受付から実行までの基本フロー）.xlsx',
'604_ＢＶ融共比較-150（極度管理）.xlsx',
'605_ＢＶ融共比較-160（期日管理）.xlsx',
'606_ＢＶ融共比較-170（現物管理）.xlsx',
'607_ＢＶ融共比較-180（債権管理）.xlsx',
'608_ＢＶ融共比較-190（未収利息・戻し利息の取扱い）.xlsx',
'609_ＢＶ融共比較-200（延滞管理）.xlsx',
'610_ＢＶ融共比較-220（センタカット取引）.xlsx',
'611_ＢＶ融共比較-230（センタカット概要）.xlsx',
'612_ＢＶ融共比較-240（入金待ち機能）.xlsx',
'613_ＢＶ融共比較-250（センタ実行登録）.xlsx',
'614_ＢＶ融共比較-260（汎用登録）.xlsx',
'615_ＢＶ融共比較-270（極度汎用登録）.xlsx',
'616_ＢＶ融共比較-280（訂正取引）.xlsx',
'617_ＢＶ融共比較-290（融資専用回付）.xlsx',
'618_ＢＶ融共比較-300（条件変更）.xlsx',
'619_ＢＶ融共比較-310（金利変更）.xlsx',
'620_ＢＶ融共比較-320（金利変更方法）.xlsx',
'621_ＢＶ融共比較-330（定型外返済登録）.xlsx',
'622_ＢＶ融共比較-350（移管）.xlsx',
'623_ＢＶ融共比較-360（顧客番号変更）.xlsx',
'624_ＢＶ融共比較-370（取引禁止）.xlsx',
'625_ＢＶ融共比較-380（非定型取引）.xlsx',
'626_ＢＶ融共比較-390（汎用照会）.xlsx',
'627_ＢＶ融共比較-400（融資決算処理）.xlsx',
'628_ＢＶ融共比較-410（債権償却）.xlsx',
'629_ＢＶ融共比較-420（商品テーブル）.xlsx',
'630_ＢＶ融共比較-430（金利テーブル）.xlsx',
'631_ＢＶ融共比較-440（印紙代テーブル）.xlsx',
'632_ＢＶ融共比較-450（融資取扱いテーブル）.xlsx',
'633_ＢＶ融共比較-470（融資手数料）.xlsx',
'634_ＢＶ融共比較-490（融資管理番号の取扱い）.xlsx',
'635_ＢＶ融共比較-500（評価減額）.xlsx',
'636_ＢＶ融共比較-510（償却原価）.xlsx',
'637_ＢＶ預共比較-010（対象範囲）.xlsx',
'638_ＢＶ預共比較-020（解約不能口座の取扱い）.xlsx',
'639_ＢＶ預共比較-050（利子課税の取扱い）.xlsx',
'640_ＢＶ預共比較-090（雑益編入処理）.xlsx',
'641_ＢＶ預共比較-150（他店券管理）.xlsx',
'642_ＢＶ預共比較-190（通帳ストライプ）.xlsx',
'643_ＢＶ預共比較-200（ページ行数管理）.xlsx',
'644_ＢＶ預共比較-210（通帳表紙の取扱い）.xlsx',
'645_ＢＶ預共比較-220（通帳見返しの取扱い）.xlsx',
'646_ＢＶ預共比較-230（通帳明細の取扱い）.xlsx',
'647_ＢＶ預共比較-240（通帳発行取引）.xlsx',
'648_ＢＶ預共比較-241（通帳繰越発行取引）.xlsx',
'649_ＢＶ預共比較-242（通帳再発行取引）.xlsx',
'650_ＢＶ預共比較-253（通帳証書の切替取引）.xlsx',
'651_ＢＶ預共比較-260（未記帳再生）.xlsx',
'652_ＢＶ預共比較-270（固定性通帳の受入制限）.xlsx',
'653_ＢＶ預共比較-290（記帳）.xlsx',
'654_ＢＶ預共比較-310（証書の取扱い）.xlsx',
'655_ＢＶ預共比較-340（預金金利管理）.xlsx',
'656_ＢＶ預共比較-370（預金管理番号の取扱）.xlsx',
'657_ＢＶ預共比較-380（預金　登録取引）.xlsx',
'658_ＢＶ預共比較-390（預金　照会取引）.xlsx',
'659_ＢＶ預共比較-420（ＰＢＩ（通帳証書発行機））.xlsx',
'660_ＢＶ預担比較-010（預金担保の概要）.xlsx',
'661_ＢＶ預担比較-020（預金担保の登録）.xlsx',
'662_ＢＶ預担比較-040（預金担保差入日登録）.xlsx',
'663_ＢＶ預担比較-050（預金担保の解除）.xlsx',
'664_ＢＶ預担比較-060（照会）.xlsx',
'665_ＢＶ預担比較-070（債務者預金管理）.xlsx',
'666_ＢＶ利税比較-010（利子諸税の取扱い）.xlsx',
'667_ＢＶ利税比較-020（元帳内容）.xlsx',
'668_ＢＶ利税比較-030（勘定処理と元帳記帳処理）.xlsx',
'669_ＢＶ利税比較-040（納付事務）.xlsx',
'670_ＢＶ利税比較-050（利子諸税入出金　訂正）.xlsx',
'671_ＢＶ利税比較-090（取引明細照会）.xlsx',
'672_ＢＶ利税比較-100（利子諸税関連ファイル）.xlsx',
'673_ＢＶ流共比較-010（カード発行）.xlsx',
'674_ＢＶ流共比較-020（カード再発行）.xlsx',
'675_ＢＶ流共比較-030（カード回収）.xlsx',
'676_ＢＶ流共比較-040（暗証番号変更）.xlsx',
'677_ＢＶ流共比較-050（カード発行口座の解約・解約訂正・移管）.xlsx',
'678_ＢＶ流共比較-060（現行カードの取扱い）.xlsx',
'679_ＢＶ流共比較-070（法人キャッシュカード）.xlsx',
'680_ＢＶ流共比較-090（カード発行機へのデータ出力）.xlsx',
'681_ＢＶ流共比較-100（カード発行手数料）.xlsx',
'682_ＢＶ流共比較-110（ＩＣカード基本形）.xlsx',
'683_ＢＶ流共比較-120（支払可能残高）.xlsx',
'684_ＢＶ流共比較-130（流動性預金利息計算）.xlsx',
'685_ＢＶ流共比較-140（総合口座貸越利息計算）.xlsx',
'686_ＢＶ流共比較-150（当座貸越利息計算）.xlsx',
'687_ＢＶ流共比較-160（利息額修正）.xlsx',
'688_ＢＶ流共比較-170（利息決算処理）.xlsx',
'689_ＢＶ流共比較-200（未記帳集約）.xlsx',
'690_ＢＶ流共比較-210（口座に対する取引制限）.xlsx',
'691_ＢＶ流共比較-240（国際系連動処理）.xlsx',
'692_ＢＶ流共比較-250（カード関連テーブル）.xlsx',
'693_ＢＶ流共比較-260（ＩＣキャッシュカード）.xlsx',
'694_ＢＶ流共比較-270（銀行本体発行クレジットカード）.xlsx',
'695_ＢＶ流共比較-280（取引明細番号のシステム制限値チェック）.xlsx',
'696_ＢＶ稟議比較-010（勘定系システムとの接続）.xlsx',
'697_ＢＶ系統比較-600（系統決済）.xlsx',
'698_ＢＶ為替比較-610（テレ為替差異機能）.xlsx',
'699_ＢＶ系統比較-610（系統自振）.xlsx',
'700_ＢＶ口振比較-660（各種年金）.xlsx',
'701_ＢＶ口振比較-670（年金・歳出金・還付金）.xlsx',
'702_ＢＶ営業比較-090（端末完結機能）.xlsx',
'703_ＢＶ預共比較-600（スイング契約）.xlsx',
'705_ＢＶ預共比較-620（ボランティア貯金契約）.xlsx',
'706_ＢＶ預共比較-630（定期担保連動型契約）.xlsx',
'707_ＢＶ預共比較-640（定期振替契約）.xlsx',
'708_ＢＶ預共比較-650（全自動契約）.xlsx',
'709_ＢＶ預共比較-660（懸賞金品付定期貯金契約）.xlsx',
'710_ＢＶ預共比較-670（イベント貯金契約）.xlsx',
'711_ＢＶ預共比較-680（交通安全定期契約）.xlsx',
'712_ＢＶ預共比較-690（おまとめ契約）.xlsx',
'713_ＢＶ預共比較-700（セット通帳）.xlsx',
'714_ＢＶ預共比較-710（貯金セット型）.xlsx',
'715_ＢＶ預共比較-720（家計簿サ－ビス契約）.xlsx',
'716_ＢＶ業共比較-610（メール・メッセージ機能）.xlsx',
'717_ＢＶ業共比較-640（自動送信処理）.xlsx',
'718_ＢＶ業共比較-650（ＡＴＭジャーナル集中管理）.xlsx',
'719_ＢＶ業共比較-660（県データ申請サブシステム）.xlsx',
'720_ＢＶ融共比較-600（業務管理店舗）.xlsx',
'721_ＢＶ融共比較-610（理事会決議限度額管理）.xlsx',
'722_ＢＶ融共比較-620（定期担保利率連動サービス）.xlsx',
'723_ＢＶ融共比較-630（留保金管理）.xlsx',
'724_ＢＶ融共比較-640（ＪＡ関連保証機関）.xlsx',
'725_ＢＶ融共比較-650（民間保証）.xlsx',
'726_ＢＶ融共比較-660（団信管理）.xlsx',
'727_ＢＶ融共比較-670（督促状）.xlsx',
'728_ＢＶ融共比較-680（ＢＩＳ情報管理）.xlsx',
'729_ＢＶ融共比較-690（案内文書管理と作成）.xlsx',
'730_ＢＶ融共比較-700（利息・積数修正）.xlsx',
'731_ＢＶ証貸比較-600（ＩＢ繰上回収）.xlsx',
'732_ＢＶ融共比較-710（貸付有価証券）.xlsx',
'733_ＢＶ融共比較-800（保証業務：基本事項）.xlsx',
'734_ＢＶ融共比較-810（保証業務：保証料）.xlsx',
'735_ＢＶ融共比較-820（保証業務：事前審査）.xlsx',
'736_ＢＶ融共比較-830（保証業務：追認保証）.xlsx',
'737_ＢＶ融共比較-840（保証業務：各種登録）.xlsx',
'738_ＢＶ融共比較-850（保証業務：当座貸越の自動継続）.xlsx',
'739_ＢＶ融共比較-860（保証業務：代位弁済）.xlsx',
'740_ＢＶ融共比較-870（保証業務：共通情報登録）.xlsx',
'741_ＢＶ融共比較-880（保証業務：各種照会・還元帳表）.xlsx',
'742_ＢＶ融共比較-890（保証業務：外部報告）.xlsx',
'743_ＢＶ融共比較-900（保証業務：未移行貸出）.xlsx',
'744_ＢＶ代貸比較-600（業務受託手数料）.xlsx',
'745_ＢＶ代貸比較-610（ＭＴ伝送）.xlsx',
'746_ＢＶ口振比較-650（校納金）.xlsx',
'747_ＢＶ口振比較-620（口座確認）.xlsx',
'748_ＢＶ金収比較-610（金銭収納）.xlsx',
'749_ＢＶ提携比較-150（全国ネットシステム）.xlsx',
'750_ＢＶ提携比較-160（県内ネットシステム）.xlsx',
'751_ＢＶ提携比較-170（漁協系統提携ネット）.xlsx',
'752_ＢＶ提携比較-180（地域提携システム）.xlsx',
'753_ＢＶ提携比較-190（県跨ぎシステム）.xlsx',
'754_ＢＶ預共比較-730（睡眠編入）.xlsx',
'755_ＢＶ流共比較-290（出金限度額管理）.xlsx',
'756_ＢＶ口振比較-610（統廃合）.xlsx',
'757_ＢＶ口振比較-630（口座変更）.xlsx',
'758_ＢＶ口振比較-640（メール通知）.xlsx',
'759_ＢＶ法Ｗ比較-050（ファイル伝送業務）.xlsx',
'760_ＢＶ住公比較-600（買取型住宅ローンの取扱い概要）.xlsx',
'761_ＢＶ代貸比較-620（還元帳表）.xlsx',
'762_ＢＶ積定比較-280（年金受取）.xlsx',
'763_ＢＶ積定比較-290（商品変更）.xlsx',
'764_ＢＶ積定比較-300（期間変更）.xlsx',
'765_ＢＶ財形比較-280（育休口座）.xlsx',
'766_ＢＶ譲渡比較-160（分割）.xlsx',
'767_ＢＶ定積比較-010（概要）.xlsx',
'768_ＢＶ定積比較-020（取扱条件（定額式、目標式、逓増逓減式））.xlsx',
'769_ＢＶ定積比較-030（取扱条件（満期分散式））.xlsx',
'770_ＢＶ定積比較-040（口座開設）.xlsx',
'771_ＢＶ定積比較-050（取引種別）.xlsx',
'772_ＢＶ定積比較-060（媒体）.xlsx',
'773_ＢＶ定積比較-070（掛込）.xlsx',
'774_ＢＶ定積比較-080（解約）.xlsx',
'775_ＢＶ定積比較-090（再契約）.xlsx',
'776_ＢＶ定積比較-100（定期書換）.xlsx',
'777_ＢＶ定積比較-110（自動掛込（Ｃ／Ｃ））.xlsx',
'778_ＢＶ定積比較-120（自動満期処理（Ｃ／Ｃ））.xlsx',
'779_ＢＶ定積比較-130（自動再契約（Ｃ／Ｃ））.xlsx',
'780_ＢＶ定積比較-140（給付補填備金）.xlsx',
'781_ＢＶ定積比較-150（先掛・延滞管理）.xlsx',
'782_ＢＶ定積比較-160（登録取引）.xlsx',
'783_ＢＶ個Ｗ比較-610（ＩＢ（定期性商品登録））.xlsx',
'784_ＢＶ業共比較-620（コード照会機能）.xlsx',
'785_ＢＶ業共比較-630（サークル管理機能）.xlsx',
'786_ＢＶ他科比較-170（コールローン）.xlsx',
'787_ＢＶ他科比較-180（借入金）.xlsx',
'788_ＢＶ他科比較-160（預け金）.xlsx',
'789_ＢＶ国債比較-010（新規取扱）.xlsx',
'790_ＢＶ国債比較-020（口座開設）.xlsx',
'791_ＢＶ国債比較-030（取扱廃止）.xlsx',
'792_ＢＶ国債比較-040（銘柄管理）.xlsx',
'793_ＢＶ国債比較-050（番号管理）.xlsx',
'794_ＢＶ国債比較-060（国債の移動・損益の計上）.xlsx',
'795_ＢＶ国債比較-070（販売限度額管理）.xlsx',
'796_ＢＶ国債比較-080（取引停止期間）.xlsx',
'797_ＢＶ国債比較-090（税額補正）.xlsx',
'798_ＢＶ国債比較-100（資金決済）.xlsx',
'799_ＢＶ国債比較-110（媒体の取扱）.xlsx',
'800_ＢＶ国債比較-120（総合口座の取扱）.xlsx',
'801_ＢＶ国債比較-130（口座管理手数料）.xlsx',
'802_ＢＶ国債比較-140（債券口座開設）.xlsx',
'803_ＢＶ国債比較-150（販売）.xlsx',
'804_ＢＶ国債比較-160（買取）.xlsx',
'805_ＢＶ国債比較-170（媒体）.xlsx',
'806_ＢＶ国債比較-180（名義人変更）.xlsx',
'807_ＢＶ国債比較-190（課税区分変更）.xlsx',
'808_ＢＶ国債比較-200（総合口座組入）.xlsx',
'809_ＢＶ国債比較-210（他振決口座振替）.xlsx',
'810_ＢＶ国債比較-220（他振決口座受入）.xlsx',
'811_ＢＶ国債比較-230（契約内容変更）.xlsx',
'812_ＢＶ国債比較-240（移管）.xlsx',
'813_ＢＶ国債比較-250（事故・注意情報登録）.xlsx',
'814_ＢＶ国債比較-260（国債取引と事故・注意情報とのチェック）.xlsx',
'815_ＢＶ国債比較-270（自己口の売却）.xlsx',
'816_ＢＶ国債比較-280（適用利率管理）.xlsx',
'817_ＢＶ国債比較-290（銘柄登録）.xlsx',
'818_ＢＶ預共比較-740（休眠口座）.xlsx',
'819_ＢＶ定積比較-170（照会取引）.xlsx',
'820_ＢＶ集金比較-011（処理の種類（定時自動集金））.xlsx',
'821_ＢＶ集金比較-021（契約取引（定時自動集金））.xlsx',
'822_ＢＶ集金比較-031（解約取引（定時自動集金））.xlsx',
'823_ＢＶ集金比較-041（金額登録（定時自動集金））.xlsx',
'824_ＢＶ集金比較-051（異例金額登録（定時自動集金））.xlsx',
'825_ＢＶ集金比較-061（変更取引（定時自動集金））.xlsx',
'826_ＢＶ集金比較-071（照会取引（定時自動集金））.xlsx',
'827_ＢＶ集金比較-081（センタカット処理による引き落とし（定時自動集金））.xlsx',
'828_ＢＶ集金比較-091（手数料処理（定時自動集金））.xlsx',
'829_ＢＶ集金比較-111（洗替え処理（定時自動集金））.xlsx',
'830_ＢＶ集金比較-121（引落依頼書の作成（定時自動集金））.xlsx',
'831_ＢＶ口振比較-680（振替予約）.xlsx',
'832_ＢＶ定送比較-011（定額自動送金（振替サービス（入）））.xlsx'];
        var _search_text = $(".searchForm-input").val();
        var final_search_text = "";
        var sql_where_stat = " ";
        //window.alert(_search_text.slice(-1));
        switch (_search_text.slice(-1)){
            case ";":
                var arr_search_fname = _search_text.split(";");
                for(f_i=0;f_i<(arr_search_fname.length-1);f_i++){
                    for (var i=0;i<arr_fname.length;i++){
                        //window.alert(final_search_text + ":" + i+":name:" + arr_search_fname[f_i]);
                        if(arr_fname[i].indexOf(arr_search_fname[f_i]) > -1){
                            final_search_text = final_search_text + arr_fname[i] + ";";
                            sql_where_stat = sql_where_stat + " filename = '" + arr_fname[i] + "'  or "
                            break;
                        }
                    }
                }
                if (final_search_text == ""){
                    window.alert("ファイル名見つかりませんでした。\n PS:◆◆◆ファイル名検索：末尾に;をセット◆◆◆");
                }else{
                    //window.alert(final_search_text);
                    //$(".searchForm-input").val() = final_search_text;
                    document.form_post.nm_searchtext.value = final_search_text;
                    //window.alert(sql_where_stat.substr(0,sql_where_stat.lastIndexOf('or')));
                }
                //Hidden value name_search_sqlに値をセット  //window.alert(final_search_text);
                document.form_post.name_search_sql.value = sql_where_stat.substr(0,sql_where_stat.lastIndexOf('or'));
                break;
            case ":":
                sql_where_stat = " devscale = '" + _search_text.substr(0,_search_text.lastIndexOf(':')) + "' ";
                //window.alert(sql_where_stat);
                //Hidden value scale_search_sqlに値をセット  //window.alert(final_search_text);
                document.form_post.scale_search_sql.value = sql_where_stat;
                //window.alert(sql_where_stat);
                break;
            default:
                document.form_post.name_search_sql.value = "";
                break;

    }


    }
</script>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<% var searchtext; var c1; var c2; var c3; var c4; var data; %>
</head>
<body>
     <form action="/" method="post" name="form_post">
        <div class="searchForm">
            <input class="searchForm-input" type="text" name="nm_searchtext" value="<%= searchtext %>" onChange="searchfname();">
            <input type = "hidden" name = "name_search_sql" value = "">
            <input type = "hidden" name = "scale_search_sql" value = "">
            <button class="searchForm-submit" type="submit" onclick="searchfname();"></button>
            
        </div>
        <div class="container">
            <input id="toggle1" name="nm_needbv" type="checkbox" <%= c1 %> >
            <label for="toggle1">BankVision仕様</label>
      
            <input id="toggle2" name="nm_needpr" type="checkbox" <%= c2 %>>
            <label for="toggle2">プロパー仕様</label>
      
            <input id="toggle3" name="nm_needja" type="checkbox" <%= c3 %>>
            <label for="toggle3">JASTEM仕様</label>
      
            <input id="toggle4" name="nm_needan" type="checkbox" <%= c4 %>>
            <label for="toggle4">分　析</label> 
          </div>
          <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label valign = "baseline"><font size="-1">40 件</font></label> -->
        <div id="data_tbl">
            <br><br><br>
            <% if (data != null) { %>
            <% if (data.length >= 0) { %>
            <% var html_str = '<table  ><td><font size = "-1">' + data.length +'件を見つけました。</font></td></table>'; %>
            <%- html_str %>
            <% } }%>
            <% if (data != null && data.length > 0) { %>
                <table border="1">
                    <tr>
                    <th>ファイル名</th><th>No.</th><th>BankVision仕様</th><th>プロパー仕様</th><th>JASTEM仕様</th><th>分析</th><th>開発・事務対応</th><th>対応方針</th><th>方針区分</th>
                    </tr>
                    <% for(var i=0; i < data.length; i++){ %>
                        <tr>
                        <td width="50px" valign="top" rowspan="8" > <%= data[i].filename %>
                            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;<button  id = "<%= 'detail_' + i %>"  type="submit" onclick="" align="center">詳細</button>
                        </td>
                        <td width="10px" valign="top" rowspan="8"> <%= data[i].number %></td>
                        <td width="300px" width="200px" rowspan="8"><%= data[i].bvspec %></td>
                        <td width="300px" rowspan="8"><%= data[i].bvproperspec %></td>
                        <td width="300px" rowspan="8"><%= data[i].bvjasspec %></td>
                        <td width="400px" rowspan="8"><%= data[i].analysis %></td>
                        <td width="150px"><%= "開発規模・区分" %></td>
                        <td with="200px" rowspan="8"><%= data[i].opepolicy %></td>
                        <td with="60px" rowspan="8"><%= data[i].opetype %></td>
                            <tr><td><%= data[i].devtype %></td></tr>
                            <tr><td><%= "開発規模・規模" %></td></tr>
                            <tr><td><%= data[i].devscale %></td></tr>
                            <tr><td><%= "事務移行・区分" %></td></tr>
                            <tr><td><%= data[i].biztranstype %></td></tr>
                            <tr><td><%= "事務移行・影響顧客口座数" %></td></tr>
                            <tr><td><%= data[i].biztransscale %></td>
                            </tr>
                        </td>
                        </tr>
                    <% } %>
                </table>
        </div>
        <% } %>
        

        </form>
        <script type="text/javascript">doHighlight();</script>
        

</body>
</html>